<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Basic routing part two
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>
			Basic routing
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">Part 2 of 2</span>
		</h1>

		<p>Content here.</p>

		{{ pagination({
			"previousUrl": "/v1/basic-routing",
			"previousPage": "Basic routing part one",
			"nextUrl": "/v1/complex-routing",
			"nextPage": "Complex routing part one"
		  }) }}
    </div>  
</div>
{% endblock %}
