<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Basic routing
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>
			Basic routing
			<span class="nhsuk-caption-xl nhsuk-caption--bottom">Part 1 of 2</span>
		</h1>

		<p>For the next part of this tutorial, we will look at basic routing using a very basic 'if statement' - how to route a user dependent on their answer using a radio button.</p>
		<p>Radio buttons aren't the only component we can use in conjunction with if statements, but we will touch on other components during the 'complex routing' section of this tutorial.</p>
		<p>Firstly we will show you the journey, then break down the steps to reproduce it.</p>
		<a href="basic-routing-radio" role="button" class="nhsuk-button nhsuk-u-margin-bottom-0">
			Start basic journey
		</a>
		{{ pagination({
			"previousUrl": "/v1/setting-up-routes",
			"previousPage": "Setting up your routes file for iterations"
		  }) }}
    </div>  
</div>
{% endblock %}
