<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Basic routing
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>
			Basic routing
		</h1>

		<!-- <figure class="nhsuk-image">
			<img class="nhsuk-image__img" src="/images/placeholder-image-16-9.jpg" alt="A 16:9 image placeholder">
			<figcaption class="nhsuk-image__caption">
				Image example
			</figcaption>
		</figure> -->

		{{ pagination({
			"previousUrl": "/v1/setting-up-routes",
			"previousPage": "Setting up your routes file for iterations",
			"nextUrl": "/v1/complex-routing",
			"nextPage": "Complex routing"
		  }) }}
    </div>  
</div>
{% endblock %}
