<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
In /views/layout.html you can:
- change the header and footer 
- add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
	Code club
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>
			Routing with data and if statements
			<span class="nhsuk-caption-xl nhsuk-caption--bottom">February 2024</span>
		</h1>

		<p>What we will cover:</p>

		<ul>
			<li>
				what is routing and when to use it
			</li>
			<li>
				setting up your routes file for iterations
			</li>
			<li>
				basic routing
			</li>
			<li>
				complex routing and displaying passed data
			</li>
		</ul>
		
		<a href="/v1/what-is-routing" class="nhsuk-button" role="button">
			Start
		</a>  
	</div>
</div>
{% endblock %}
